@charset "utf-8";

//***********************
// color
//***********************
$colorBase: #334049;
$colorSub: #ff6476; // pink
$colorLink: $colorSub;
$colorLinkHover: lighten($colorLink, 10%);
$colorTitle: $colorBase;
$colorTitleBkg: #f5f5f4;
$colorSelection: lighten($colorBase, 65%);
// $colorBlue: #699ebf;

//***********************
// typography
//***********************
$letterSpace: -0.1px;
$lineHeight: 1.8;

//*********************** 
// path
//***********************
$filePath: "/dist/img/";
// $filePath: "http://featherplain.com/files/";

//***********************
// font-family
//***********************
$fontFamily: 'Raleway', "游ゴシック体", "Yu Gothic", YuGothic, 'Helvetica Neue', "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "メイリオ", Meiryo, "ＭＳ Ｐゴシック","MS PGothic",Arial,Sans-Serif;
// code
$fontFamilyCode: Menlo,Monaco,Consolas,"Courier New",monospace;

//***********************
// block size
//***********************
// $containerWidth: ;
// $blockWidth: ;

//***********************
// navigation size
//***********************
// $menuItemWidth     : ;
// $menuItemHeight    : ;
// $menuHeight        : ;
// $menuPadding       : ($menuHeight - $menuItemHeight) / 2; // Calclate padding size automatically

//***********************
// menu toggle
//***********************
$menuToggle: 4px solid $colorSub;
$menuToggleHover: 4px solid lighten($colorSub, 10%);