@charset "utf-8";

/* ======================================= */
/* contact form
/* ======================================= */

.wpcf7-form {
	font-size: 1.1em;
	font-weight: 500;
	letter-spacing: 0.1px;
}

/* media
/* --------------------------------------- */

/* over 68em */
@mixin layout-contact-over68em {}