@charset "utf-8";

/* ======================================= */
/* buttons
/* ======================================= */

.wpcf7-submit, 
input[type="button"], 
input[type="reset"], 
input[type="submit"] {
	background: $colorLink;
	border-top: none;
	border-right: none;
	border-left: none;
	border-bottom: 3px solid darken($colorLink, 20%);
	border-radius: 4px;
	color: #ffffff;
	font-family: $fontFamily;
	&:hover {
		background: $colorLinkHover;
		border-bottom: 3px solid $colorLink;
		color: #ffffff;
	}
}
/* media
/* --------------------------------------- */

/* over 68em */
@mixin module-buttons-over68em {}